
@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-Thin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedThin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-Light.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-LightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-Regular.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-Extended.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-Italic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-Medium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedMedium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-MediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-SemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-SemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-Bold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-BoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-Heavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedHeavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-HeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedCurly-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedCurly-ExtendedHeavyItalic.TTF') format('truetype');
}
