
@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedCurly-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedCurly-ExtendedHeavyItalic.ttf') format('truetype');
}
